<div style="max-width:877px;">
  <img src="http://i.imgur.com/U8lHWST.png"class="img-responsive" alt="Responsive image" style="display:block">
  <h1>{{message}}</h1>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
</div>
