<link rel="stylesheet" href="/stylesheets/gallery.css" />
<div class="contentDiv flex-item">
<div id="galleryDiv" class="cf">
	
</div>
</div>

<!-- Firebase require -->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<!--  Javascript for gallery.js-->
<script src="/javascripts/gallery.js" charset="utf-8"></script>