<div id="galleryDiv">
	
</div>

<!-- Firebase require -->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<!--  Javascript for gallery.js-->
<script src="/javascripts/gallery.js" charset="utf-8"></script>