<link rel="stylesheet" href="/stylesheets/gallery.css" />

<div id="galleryDiv" class="cf container">
	
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<!-- Firebase require -->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<!--  Javascript for gallery.js-->
<script src="/javascripts/gallery.js" charset="utf-8"></script>