<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- MUI stuff --}}
    <link href="//cdn.muicss.com/mui-0.9.7/css/mui.min.css" rel="stylesheet" type="text/css" />

    <!-- Latest compiled and minified CSS for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/socialButtons.css" />


    <link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">
    <!-- <link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">
    <link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html"> -->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    {{!-- Master stylesheet --}}
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
    <div class="container">
    </div>

  <body>

    <div class="mui-container">
      <table width="100%">
        <tr class="mui--appbar-height">
          <td class="mui--text-title">Brand.io</td>
          <td align="right">
            <ul class="mui-list--inline mui--text-body2">
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

  {{{body}}}

  </body>
  
  <footer>
    
    <!-- Jquery -->
    <script
    src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>

    <!-- pollyfill cache script-->
    <script src="/javascripts/serviceworker-cache-polyfill.js" charset="utf-8"></script>

    <!--  JS for material desgin cards -->
    <script src="/javascripts/materialDesignCard.js" charset="utf-8"></script>

    <!--  Javascript for registering notifications service worker-->
    <script src="/javascripts/serviceWorkerRegistration.js" charset="utf-8"></script>

    <!--  Javascript for notifications service worker-->
    <script src="/javascripts/sw.js" charset="utf-8"></script>

    {{!--  material design stuff  --}}
    <script src="//cdn.muicss.com/mui-0.9.7/js/mui.min.js"></script>

    {{!-- adds selector to active menu item --}}
    <script>

    var url = window.location;

      // Will only work if string in href matches with location
      $('ul.nav a[href="'+ url.pathname +'"]').parent().addClass('active');

    </script>

  </footer>
</html>
