<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="stylesheet" href="/stylesheets/socialButtons.css" />


    <link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">
    <!-- <link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">
    <link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html"> -->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
  <footer>


    <!-- pollyfill cache script-->
    <script src="/javascripts/serviceworker-cache-polyfill.js" charset="utf-8"></script>

    <!--  JS for material desgin cards -->
    <script src="/javascripts/materialDesignCard.js" charset="utf-8"></script>

    <!--  Javascript for registering notifications service worker-->
    <script src="/javascripts/serviceWorkerRegistration.js" charset="utf-8"></script>

    <!--  Javascript for notifications service worker-->
    <script src="/javascripts/sw.js" charset="utf-8"></script>

  </footer>
</html>
